.container {
  margin-bottom: 50px;
  height: 12rem;
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: medium;
  overflow-wrap: break-word;
  /* opacity: 1;
  transition: opacity 0.5s ease-in-out; */
}

.imageContainer {
  flex: 1;
  height: 12rem;
  position: relative;
}

/* .image {
  object-fit: cover;
} */

.textContainer {
  height: 12rem;
  /* max-height: 12rem; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
}

.title {
  max-width: 25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.desc {
  font-size: 1rem;
  font-weight: 300;
  color: var(--textColor);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

.deleteContainer {
  max-height: 12rem;
  display: inline;
  margin-top: 7rem;
  bottom: 0;
}

.deleteBtn {
  padding: 6px 12px;
  border: none;
  color: rgb(236, 234, 234);
  font-weight: bold;
  background-color: rgb(116, 23, 23);
  cursor: pointer;
  transition: 0.3s;
}

.deleteBtn:hover {
  background-color: rgb(179, 23, 23);
}

.skeletonContainer {
  margin-bottom: 50px;
  height: 12rem;
  width: auto;
  position: relative;
  background-color: transparent;
  display: flex;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.skeletonImageContainer {
  margin-left: 3rem;
  flex: 1;
  width: 100%;
  height: 12rem;
  position: relative;
  background-color: rgba(211, 211, 211, 0.034);
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonImage {
  width: 100%;
  height: 100%;
}

.skeletonTextContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skeletonDetail {
  height: 20px;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.034);
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonDate {
  height: 20px;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.034);
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonCategory {
  height: 20px;
}

.skeletonText {
  height: 20px;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.034);
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonTitle {
  height: 40px;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.034);

  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonDesc {
  height: 40px;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.034);
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonLink {
  height: 20px;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.034);

  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonDeleteContainer {
  border: none;
  color: transparent;
  display: block;
  margin-top: 50px;
}

.skeletonDeleteButton {
  background-color: rgba(211, 211, 211, 0.034);
  height: 2rem;
  width: 4rem;
  border: none;
  color: transparent;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgba(211, 211, 211, 0.014);
  }
  100% {
    background-color: rgba(211, 211, 211, 0.034);
  }
}

@media screen and (max-width: 1280px) {
  .container {
    margin: 0 auto 3rem auto;
  }
  .imageContainer {
    display: none;
  }

  .title {
    max-width: 15rem;
    font-size: 1.8rem;
    text-align: flex-start;
  }

  .desc {
    max-width: 10rem;
    padding: 0 1rem;
  }

  .skeletonContainer {
    min-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
  }

  .skeletonImageContainer {
    display: none;
  }
}
