.container {
  margin-top: 60px;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.textContainer {
  flex: 1;
}

.title {
  max-width: calc(100vw - 40rem);
  margin-top: 60px;
  font-size: 64px;
  margin-bottom: 50px;
  overflow-wrap: break-word;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 20px;
  font-weight: 500;
}

.imageContainer {
  margin-top: 80px;
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 5;
  margin-top: 60px;
}

.description p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .title {
    max-width: 100%;
    width: 15rem;
    font-size: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .description p {
    font-size: 18px;
  }
}
