:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: radial-gradient(
    circle,
    #0b1516,
    #0a1415,
    #091414,
    #081313,
    #071212,
    #061012,
    #060f11,
    #060d10,
    #07090d,
    #060609,
    #040304,
    #000000
  );
  background-image: var(--bg);
  background-size: cover;
  background-repeat: no-repeat;

  --softBg: #0a1c1c;
  --bg2: #030808;
  --softBg2: #0f1616;
  --textColor: #ddd;
  --softTextColor: #a6a6a6;
  --borderColor: #a6a6a6;
  --inputSoftBg: #264247;
  --inputBg: #42646e;
}

.light {
  --bg: radial-gradient(
    circle,
    #ffffff,
    #fdfdfe,
    #fafcfd,
    #f7fafc,
    #f4f9fb,
    #f3f9fb,
    #f2f9fa,
    #f1f9fa,
    #f2fafb,
    #f3fbfd,
    #f5fcfe,
    #f6fdff
  );
  background-image: var(--bg);
  background-size: cover;
  background-repeat: no-repeat;

  --softBg: #e5eff3;
  --bg2: hsl(180, 7%, 70%);
  --softBg2: hsl(180, 12%, 82%);
  --inputBg: white;
  --inputSoftBg: #f0f0f0;
  --textColor: black;
  --softTextColor: #626262;
  --borderColor: #4b636d;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.not-found-container,
.error-container {
  max-height: 1080px;
  height: calc(100vh - 22.5rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.not-found-title {
  font-size: 4rem;
  font-weight: bold;
}

.not-found-link,
.error-link {
  font-size: 2rem;
  font-weight: bold;
  color: teal;
  cursor: pointer;
}

.not-found-text {
  font-size: 1.5rem;
  text-align: center;
}

.error-title {
  font-size: 3rem;
  color: red;
  text-align: center;
  font-weight: bold;
}

.error-text {
  font-size: 1.3rem;
  text-align: center;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}

.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}
