.deleteBtnContainer {
  display: block;
  margin-top: 50px;
}

.hideDeleteBtnContainer {
  visibility: hidden;
}

.btnDelete {
  padding: 6px 12px;
  border: none;
  color: rgb(236, 234, 234);
  font-weight: bold;
  background-color: rgba(223, 107, 107, 0.685);
  cursor: pointer;
  transition: 0.3s;
}

.btnDelete:hover {
  background-color: rgb(214, 88, 88);
}

.skeletonDeleteBtnContainer {
  border: none;
  color: transparent;
  display: block;
  margin-top: 50px;
}

.skeletonButton {
  background-color: rgba(211, 211, 211, 0.034);
  height: 2rem;
  width: 6rem;
  border: none;
  color: transparent;
}
