.socialButton {
  float: right;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 1px solid var(--borderColor);
  gap: 0.75rem;
  color: var(--softTextColor);
  background-color: var(--bg);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0, 0.87, 0.12, 1);
}

.socialButton:hover {
  transform: scale(1.025);
}

.socialButton:active {
  transform: scale(0.975);
}

/* @media screen and (max-width: 768px) {
  .wrapper {
    padding: 50px 100px;
  }
} */
@media screen and (max-width: 640px) {
  .socialButton {
    font-weight: 400;
    font-size: 14px;
  }

  .socialButton:last-of-type {
    margin-bottom: 1.2rem;
  }
}
