.container {
  margin: 60px auto auto auto;
  padding-top: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.content {
  display: flex;
}

.posts {
  width: 100%;
  margin-top: 0;
  padding-left: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.posts h2 {
  margin: 0 0 2rem 3rem;
}

.hr {
  margin: 2.3rem 0 0 0;
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
    gap: 1.5rem;
  }

  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .content {
    flex-direction: column;
  }

  .posts {
    margin: 3rem 0 0 0;
    padding-left: 0;
  }

  .posts h2 {
    text-align: center;
    font-size: 2.3rem;
    margin: 0;
  }
}
