.infoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.textContainer {
  flex: 1;
}

.title {
  max-width: calc(100vw - 40rem);
  margin-top: 60px;
  font-size: 64px;
  margin-bottom: 50px;
  overflow-wrap: break-word;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 20px;
  font-weight: 500;
}

.imageContainer {
  margin-top: 80px;
  flex: 1;
  height: 350px;
  position: relative;
}

/* .image {
  object-fit: cover;
} */

.actionsContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 5;
  margin-top: 60px;
}

.description p {
  color: var(--textColor);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.deleteBtnContainer {
  display: block;
  /* text-align: end; */
  /* margin-top: 10px; */
}

.hideDeleteBtnContainer {
  visibility: hidden;
}

.skeletonContainer {
  margin-top: 60px;
}

.skeletonInfoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.skeletonTextContainer {
  flex: 1;
}

.skeletonTitle {
  max-width: calc(100vw - 40rem);
  color: transparent;
  margin-top: 60px;
  font-size: 64px;
  margin-bottom: 50px;
  overflow-wrap: break-word;
  background-color: rgba(211, 211, 211, 0.034);
}

.skeletonUser {
  display: flex;
  align-items: center;
  gap: 20px;
}

.skeletonUserImage {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  background-color: rgba(211, 211, 211, 0.034);
}

.skeletonUserTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: transparent;
  background-color: rgba(211, 211, 211, 0.034);
}

.skeletonUsername {
  color: transparent;
  font-size: 20px;
  font-weight: 500;
}

.skeletonDate {
  color: transparent;
  width: 50%;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.034);
}

.skeletonImageContainer {
  margin-top: 80px;
  flex: 1;
  height: 350px;
  position: relative;
  background-color: rgba(211, 211, 211, 0.034);
}

.skeletonContent {
  display: flex;
  gap: 50px;
}

.skeletonPost {
  flex: 5;
  margin-top: 60px;
}

.skeletonDescription p {
  color: transparent;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  background-color: rgba(211, 211, 211, 0.034);
}

.skeletonComment {
  width: 50%;
  height: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
  .skeletonImageContainer {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .title {
    max-width: 100%;
    width: 15rem;
    font-size: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .description p {
    font-size: 18px;
  }
}
